*{
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
nav{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #B0E0E6;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    line-height: 50px;   
}

nav li{
    float: left;
    margin-right: 15px;
}
nav li a{
    color: #888;
    font-weight: 700;
}
.logo{
    color: #B0C4DE;
}
.wrapper{
    width: 1850px;
    margin: 0 auto;
}
.wrapper2{
    width: 1150px;
    margin: 0 auto;
}
.top{
    
    display: flex;
   
}
.top > div{
    margin:0 5px;
}
.card{
    width: 450px;
    height: 600px;
    border: 3px solid 	#6495ED;
    border-radius: 40px;
}
.card h1{
    position:absolute;
    color: #B0C4DE;
    top:10%;
    width:40%;
    left:30%;
    display:block;
    text-align:center;
    
    
}
.t_word{
    width: 100%;
    height: 560px;
    position: relative;
    
    
    perspective: 600px;
}
.ban{
    width: 900px;
    height: 600px;
    border-radius: 40px;
}
.ban_wrap{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.ban_wrap img{
    border-radius: 40px;
}
.login{
    width: 450px;
    height: 600px;
    border-radius: 40px;
    border: 3px solid 	#6495ED;
    padding-top: 150px;
}
.login form{
    width: 250px;
    height: 300px;
    margin: 0 auto;
}
.login h1{
    text-align: center;
    color: #CC9999;
}
.login label{
    font-size: 12px;
}
.login input{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border-top:none;
    border-left: none;
    border-right: none;
}
.login input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid #6699CC;
}
.login h2{
    color: #CC9999;
}
.login ul{
    margin-top: 30px;
    font-weight: bold;
    padding:0 20px;
}
.login li{
    padding: 15px 0;
}
.login li a{
	color:#6A5ACD;
	font-size:18px;
}
.login span{
    float: right;
}
.log{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background: #B0C4DE;
    border: none;
    cursor: pointer;
    margin-top:10px;
}
.warn{
    color: #FF0066;
    font-size: 14px;
    margin-top: -5px;
}

#signup{
    float: right;
    font-size: 12px;
}
.another{
    margin-top: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.another > div{
    width: 60px;height: 60px;
    border-radius: 50%;
    border: 3px solid #B0C4DE;
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    cursor: pointer;
}
.main{
    position: relative;
}
.t_word img{
    width: 100%;
    height: 100%;
}
figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%,-50%) translateZ(100px);
    display: block;
    text-align: center;
    color: #fff; font-size: 20px;
    font-family: 'Abel',sans-serif;
    font-weight: bold; 
    background: rgba(0,0,0,0.4);
    padding: 3px 10px;
}

.t_word .front{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    transform: rotateY(0deg);
    transition: all  0.5s ease-in-out;
    backface-visibility: hidden;
}
.t_word .back{
    width: 100%; 
    height: 100%; 
    z-index: -1; 
    position: absolute;
     top: 0; left: 0; 
     transform-style: preserve-3d;
     transform: rotateY(-180deg);
     transition: all  0.5s ease-in-out;
    backface-visibility: hidden;
}
.t_word:hover .front{transform: rotateY(180deg);}
.t_word:hover .back{transform: rotateY(0deg);z-index: 1;}
.middle{
    margin:50px 0;
}
.search_box{
    width:100%;
    height:50px;
    display: flex;
}
.search{
    width: 95%;
    height: 50px;
    border-radius: 25px 0 0 25px;
    border: 3px solid #888;
    font-size: 20px;
    padding:0 40px;
    border-right: 0;
}
.sb{
    width: 5%;
    height: 50px;
    border-radius: 0 25px 25px 0;
    border: 3px solid #888;
    background: none;
    font-size: 20px;
    cursor: pointer;
    border-left: 0;
}
.search:focus{
    outline: none;
    border: 3px solid #6495ED;
    border-right: 0;
}
.list{
    width: 100%;
    text-align: center;
    padding: 0 20px;
}
.list h2{
    color:#6699CC;
    padding-bottom: 20px;
}
.list h2 a{
    color: #6699CC;
    float: right;
}
.list_top{
    display: flex;
    border: 1px solid #6495ED;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border-radius: 15px 15px 0 0;
    border-bottom: none;
}
.list_top > div{
    text-align: center; 
    border-right: 1px solid #e7e7e7;
}
.list_top > div:last-child{
    border-right: none;
}
.seq,.seq_t{
    width: 10%;
}
.word,.word_t{
    width: 35%;
}
.mean,.mean_t{
    width: 45%;
}
.check,.check_t{
    width: 10%;
}
.check_t{
    display: flex;
    align-items: center;
}
.index{
    border: 1px solid #6495ED;
    border-radius: 0 0 15px 15px;
}
.word_wrap{
    display: flex;
    text-align: center;
}
#save{
    width: 100%;
    height: 100%;
    background: #e0e0e0;
    border: none;
    cursor: pointer;
    border-radius: 0 15px 0 0;
    color: #000;
    font-weight: bold;
}

.word_wrap > div{
    padding: 15px 0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.word_wrap > div:last-child{
    border-right: none;
}
/* .active{
    background: #B0C4DE;
} */
.word_wrap:hover{
    background: #B0C4DE;
}
.move{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.move > div{
    width: 250px;
    height:250px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px; 
    cursor: pointer;
}
.toeic{
    background: url(../img/toeic.png);
}
.toeic_s{
    background: url(../img/toeic_s.png);
}
.opic{
        background: url(../img/opic.png);
}
.suneung{
    background: url(../img/suneung.png);
}
#goup{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    border-radius: 50%;
    font-size: 20px;
    border: #e7e7e7;
    color: #fff;
    background: #6495ED;
    cursor: pointer;
}